<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login and Register</title>
</head>
<body>
    <h1 class="title">Mountain Reviews</h1>
    <div class="welcome">
        <h2>Welcome!</h2>
        <p>Please, log in or create an account to continue</p>
    </div>
    <div class="container">
        <div class="register">
            <form action="/register_user" method="post" class="register_form">
                <h1>Register</h1>
                <label for="user_name">User Name:</label>
                <input type="text" name="user_name" class="login_register">
                <label for="email">Email:</label>
                <input type="text" name="email" class="login_register">
                <label for="password">Password:</label>
                <input type="password" name="password" class="login_register">
                <label for="confirm_pw">Confirm Password:</label>
                <input type="password" name="confirm_pw" class="login_register">
                <input type="submit" value="Register">
            </form>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
            {% if messages %}
                    {% for message in messages %}
                    <p class="flash_message">{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <div class="login">
            <form action="/login" method="post" class="login_form">
                <h1>Login</h1>
                <label for="email">Email:</label>
                <input type="text" name="email" class="login_register">
                <label for="password">Password:</label>
                <input type="password" name="password" class="login_register">
                <input type="submit" value="Login">
            </form>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
            {% if messages %}
                    {% for message in messages %}
                    <p class="flash_message">{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>